## Task 1

In [1]:
import selenium 
import pandas as pd
from selenium import webdriver
import time 
from selenium.common.exceptions import NoSuchElementException , StaleElementReferenceException

In [120]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [121]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/")

In [122]:
find = driver.find_element_by_xpath("//span[@class='plainlinks']/a")
driver.get(find.get_attribute('href'))

In [123]:
find2 = driver.find_element_by_xpath("//li[@class='mw-search-result']/div/a")
driver.get(find2.get_attribute("href"))

In [125]:
driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]/a")

In [138]:
names = []
uploader = []
views = []
upload_date = [] 
##names
try :
    elements =driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr/td[2]")
    for i in elements :  
        if i.text is None :
            names.append("-")
        else :
            names.append(i.text)
except NoSuchElementException :
    names.append("-")

##uploader
try :
    elements =driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr/td[3]")
    for i in elements :  
        if i.text is None :
            uploader.append("-")
        else :
            uploader.append(i.text)
except NoSuchElementException :
    uploader.append("-")

##views
try :
    elements =driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr/td[4]")
    for i in elements :  
        if i.text is None :
            views.append("-")
        else :
            views.append(i.text)
except NoSuchElementException :
    views.append("-")
                                            
##upload_date
try :
    elements =driver.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']/div[1]/table[3]/tbody/tr/td[5]")
    for i in elements :  
        if i.text is None :
            upload_date.append("-")
        else :
            upload_date.append(i.text)
except NoSuchElementException :
    upload_date.append("-")

In [139]:
len(names) ,len(uploader) ,len(views) , len(upload_date)

(30, 30, 30, 30)

In [140]:
df = pd.DataFrame({})
df['Video name'] = names
df['Uploader'] = uploader
df['Views(billions)'] = views
df['Upload date'] = upload_date

In [141]:
df

,Video name,Uploader,Views(billions),Upload date
0,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.74,"June 17, 2016"
1,"""Despacito""[24]",Luis Fonsi,7.39,"January 12, 2017"
2,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.43,"October 8, 2016"
3,"""Shape of You""[26]",Ed Sheeran,5.34,"January 30, 2017"
4,"""See You Again""[27]",Wiz Khalifa,5.13,"April 6, 2015"
5,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,"""Uptown Funk""[31]",Mark Ronson,4.20,"November 19, 2014"
7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.14,"February 27, 2018"
8,"""Bath Song""[33]",Cocomelon – Nursery Rhymes,4.12,"May 2, 2018"
9,"""Gangnam Style""[34]",Psy,4.08,"July 15, 2012"
10,"""Phonics Song with Two Words""[36]",ChuChu TV,3.91,"March 6, 2014"
11,"""Sugar""[37]",Maroon 5,3.48,"January 14, 2015"
12,"""Sorry""[38]",Justin Bieber,3.44,"October 22, 2015"
13,"""Dame Tu Cosita""[39]",El Chombo,3.38,"April 5, 2018"
14,"""Roar""[40]",Katy Perry,3.36,"September 5, 2013"
15,"""Counting Stars""[41]",OneRepublic,3.31,"May 31, 2013"
16,"""Thinking Out Loud""[42]",Ed Sheeran,3.27,"October 7, 2014"
17,"""Dark Horse""[43]",Katy Perry,3.08,"February 20, 2014"
18,"""Faded""[44]",Alan Walker,3.08,"December 3, 2015"
19,"""Wheels on the Bus""[45]",Cocomelon – Nursery Rhymes,3.07,"May 24, 2018"
20,"""Shake It Off""[46]",Taylor Swift,3.06,"August 18, 2014"
21,"""Lean On""[47]",Major Lazer,3.05,"March 22, 2015"
22,"""Girls Like You""[48]",Maroon 5,3.04,"May 31, 2018"
23,"""Bailando""[49]",Enrique Iglesias,3.04,"April 11, 2014"
24,"""Let Her Go""[50]",Passenger,3.00,"July 25, 2012"
25,"""Mi Gente""[51]",J Balvin,2.93,"June 29, 2017"
26,"""Perfect""[52]",Ed Sheeran,2.86,"November 9, 2017"
27,"""Hello""[53]",Adele,2.84,"October 22, 2015"
28,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.84,"June 4, 2010"
29,"""Axel F""[55]",Crazy Frog,2.83,"June 16, 2009"

## Task 2

In [176]:
driver.get("https://www.bcci.tv/.")

In [177]:
driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()

In [178]:
find = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div/ul/li[1]/a")
driver.get(find.get_attribute("href"))

In [184]:
urls = []
for i in driver.find_elements_by_xpath("//div[@class='event-list__list']/div/a"):
     urls.append(i.get_attribute('href'))

In [185]:
urls

['https://www.bcci.tv/events/23530/icc-world-test-championship/match/23531/final?tab=overview',
 'https://www.bcci.tv/events/22435/england-v-india-2021/match/22436/1st-test?tab=overview',
 'https://www.bcci.tv/events/22435/england-v-india-2021/match/22437/2nd-test?tab=overview',
 'https://www.bcci.tv/events/22435/england-v-india-2021/match/22438/3rd-test?tab=overview',
 'https://www.bcci.tv/events/22435/england-v-india-2021/match/22439/4th-test?tab=overview',
 'https://www.bcci.tv/events/22435/england-v-india-2021/match/22440/5th-test?tab=overview']

In [172]:
driver.find_element_by_xpath("//div[@class='mc-header-info__match-info']/p").text

'FINAL - ICC WORLD TEST CHAMPIONSHIP VIEW SERIES'

In [230]:
name = []
series=[]
place=[]
date=[]
time=[]
for page in urls :
    driver.get(page)
    #title
    try :
        names = driver.find_element_by_xpath("//div[@class='mc-header-info__match-info']/p/span")
        if names.text is None :
            name.append('-')
        else:
            name.append(names.text)
            
    except NoSuchElementException :
        name.append('-')
        
    #series    
    try :
        names = driver.find_element_by_xpath("//div[@class='mc-header-info__match-info']/h1/strong[1]")
        if names.text is None :
            series.append('-')
        else:
            series.append(names.text)
            
    except NoSuchElementException :
        series.append('-')
        
    #place
    try :
        names = driver.find_element_by_xpath("//section[@class='widget widget--with-footer widget--small match-info match-info--main js-prematch-info mc-theme-pseudo']/div/ul/li[3]/span[2]")
        if names.text is None :
            place.append('-')
        else:
            place.append(names.text)
            
    except NoSuchElementException :
        place.append('-')
        
    #date
    try :
        names = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__content js-scorebox']/div[3]/strong")
        if names.text is None :
            date.append('-')
        else:
            date.append(names.text)
            
    except NoSuchElementException :
        date.append('-')
        
    #time
    try :
        names = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__content js-scorebox']/div[3]/span")
        if names.text is None :
            time.append('-')
        else:
            time.append(names.text)
            
    except NoSuchElementException :
        time.append('-')

In [232]:
df = pd.DataFrame({})
df['Match_title'] = name
df['Series'] = series
df['Place'] = place
df['Date'] = date
df['Time'] =time

In [233]:
df

,Match_title,Series,Place,Date,Time
0,FINAL,India v New Zealand,"The Ageas Bowl, Southampton",Friday 18 June,15:00 IST
1,1ST TEST,England v India,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
2,2ND TEST,England v India,"Lord's, London",Thursday 12 August,15:30 IST
3,3RD TEST,England v India,"Headingley, Leeds",Wednesday 25 August,15:30 IST
4,4TH TEST,England v India,"The Oval, London",Thursday 2 September,15:30 IST
5,5TH TEST,England v India,"Old Trafford, Manchester",Friday 10 September,15:30 IST

## Task 3

In [235]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [236]:
driver.get("https://www.guru99.com/")

In [239]:
driver.find_element_by_xpath("//li[@class='g-fullwidth g-menu-item g-menu-item-118 g-menu-item-type-separator g-parent']/div/span").click()

In [241]:
find = driver.find_element_by_xpath("//li[@class='g-menu-item g-menu-item-type-component g-menu-item-121  ']/a")
driver.get(find.get_attribute('href'))

In [244]:
driver.get(driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a").get_attribute('href'))

In [263]:
name = []
description = []
#names
try :
    elements = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in elements :
        if i.text is None :
            name.append("-")
        else :
            name.append(i.text)
except NoSuchElementException:
    name.append("-")

#description
try :
    elements = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in elements :
        if i.text is None :
            description.append("-")
        else :
            description.append(i.text)
except NoSuchElementException:
    description.append("-")

In [265]:
df = pd.DataFrame({})
df['Exception_name'] = name
df['Description'] = description

In [268]:
df.drop(index=0,inplace=True)

In [269]:
df

,Exception_name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Task 4

In [3]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
driver.get("http://statisticstimes.com/")

In [8]:
driver.find_element_by_xpath("//div[@class='dropdown']/button").click()

In [10]:
driver.get(driver.find_element_by_xpath("//div[@class='dropdown']/div/a[3]").get_attribute('href'))

In [12]:
driver.get(driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a").get_attribute('href'))

In [14]:
Rank = []
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
    for i in elements :
        if i.text is None :
            Rank.append("-")
        else :
            Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [18]:
rank = []
state = []
gsdp19 = []
gsdp18 = []
share = []
gdp = []

#rank
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[1]")
    for i in elements :
        if i.text is None :
            rank.append("-")
        else :
            rank.append(i.text)
except NoSuchElementException:
    rank.append("-")

#state
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[2]")
    for i in elements :
        if i.text is None :
            state.append("-")
        else :
            state.append(i.text)
except NoSuchElementException:
    state.append("-")

#gsdp19    
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[3]")
    for i in elements :
        if i.text is None :
            gsdp19.append("-")
        else :
            gsdp19.append(i.text)
except NoSuchElementException:
    gsdp19.append("-")
    
#gsdp18
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[4]")
    for i in elements :
        if i.text is None :
            gsdp18.append("-")
        else :
            gsdp18.append(i.text)
except NoSuchElementException:
    gsdp18.append("-")
    
#share
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[5]")
    for i in elements :
        if i.text is None :
            share.append("-")
        else :
            share.append(i.text)
except NoSuchElementException:
    share.append("-")
    
#gdp
try :
    elements = driver.find_elements_by_xpath("//table[@class='display dataTable']/tbody/tr/td[6]")
    for i in elements :
        if i.text is None :
            gdp.append("-")
        else :
            gdp.append(i.text)
except NoSuchElementException:
    gdp.append("-")

In [20]:
len(rank) ,len(state) ,len(gsdp19), len(gsdp18) ,len(share) ,len(gdp)

(66, 66, 66, 66, 66, 66)

In [29]:
df = pd.DataFrame({})
df['Rank'] = rank
df['State'] = state
df['GSDP (Cr INR at Current prices) (19-20)'] = gsdp19
df['GSDP (Cr INR at Current prices) (18-19)'] = gsdp18
df['Share(%)'] = share
df['GDP ($billion)'] = gdp

In [30]:
df

,Rank,State,GSDP (Cr INR at Current prices) (19-20),GSDP (Cr INR at Current prices) (18-19),Share(%),GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
...,...,...,...,...,...,...
61,29,Sikkim,"28,391","25,141",0.15%,"17,060"
62,30,Nagaland,-,"24,534",0.15%,-
63,31,Arunachal Pradesh,-,"22,488",0.13%,-
64,32,Mizoram,"24,424","20,947",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-,-

## Task 5

In [4]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [5]:
driver.get("https://github.com/")

In [6]:
driver.get(driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul/li/a").get_attribute('href'))

In [7]:
driver.get(driver.find_element_by_xpath("//div[@class='d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left']/a[3]").get_attribute('href'))

In [8]:
urls = []
for i in driver.find_elements_by_xpath("//div[@class='Box']/div[2]/article/h1/a"):
    urls.append(i.get_attribute('href'))

In [12]:
name = []
for i in urls :
    driver.get(i)
    try :
        element = driver.find_element_by_xpath("//main[@id='js-repo-pjax-container']/div[1]/div/div/h1")
        if element.text is None:
            name.append('-')
        else :
            name.append(element.text)
    except NoSuchElementException :
        name.append("-")
        
    time.sleep(4)

In [9]:
description = []
for i in urls :
    driver.get(i)
    try :
        element = driver.find_element_by_xpath("//div[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div/div/p")
        if element.text is None :
            description.append("-")
        else :
            description.append(element.text)
    except NoSuchElementException :
        description.append('-')

In [14]:
contribution = []
for i in urls :
    driver.get(i)
    try :
        element = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2/a/span")
        if element.text is None :
            contribution.append("-")
        else :
            contribution.append(element.text)
    except NoSuchElementException :
        contribution.append('-')
    time.sleep(5)

In [18]:
language = []
for i in urls :
    driver.get(i)
    try :
        element = driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[5]/div/ul/li/a/span[1]")
        if element.text is None :
            language.append("-")
        else :
            language.append(element.text)
    except NoSuchElementException :
        language.append('-')
    time.sleep(5)

In [23]:
df = pd.DataFrame({})
df['Title'] = name
df['Description'] = description
df['Countributors count'] = contribution
df['language used'] = language

In [24]:
df

,Title,Description,Countributors count,language used
0,PaperMC\n/\nPaper,High performance Spigot fork that aims to fix ...,-,Shell
1,hasura\n/\ngraphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",-,-
2,neovim\n/\nneovim,Vim-fork focused on extensibility and usability,,-
3,udacity\n/\nnd064_course_1,-,-,-
4,alpinejs\n/\nalpine,"A rugged, minimal framework for composing Java...",,-
5,madMAx43v3r\n/\nchia-plotter,-,18,C
6,iptv-org\n/\niptv,Collection of publicly available IPTV channels...,-,-
7,zzanehip\n/\nThe-OldOS-Project,Recreating a fully functional version of iOS 4...,-,-
8,ytdl-org\n/\nyoutube-dl,Command-line program to download videos from Y...,768,-
9,biancangming\n/\nwtv,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,-,-
10,maziarraissi\n/\nApplied-Deep-Learning,Applied Deep Learning,-,-
11,jwasham\n/\ncoding-interview-university,A complete computer science study plan to beco...,-,-
12,chrxh\n/\nalien,alien is a GPU-accelerated artificial life sim...,-,C++
13,the-hyp0cr1t3\n/\nDSA-Training-2021,-,5,-
14,yangtingxiao\n/\nQuantumultX,脚本，自用,-,-
15,MuriungiPatrick\n/\nBootstrap-5-portfolio-temp...,Learning Bootstrap 5 with SASS,-,JavaScript
16,ashishpatel26\n/\n500-AI-Machine-learning-Deep...,500 AI Machine learning Deep learning Computer...,-,-
17,jina-ai\n/\njina,An easier way to build neural search on the cloud,97,Python
18,EbookFoundation\n/\nfree-programming-books,Freely available programming books,"1,617",-
19,hlissner\n/\ndoom-emacs,An Emacs framework for the stubborn martian ha...,-,Emacs Lisp
20,drawrowfly\n/\ntiktok-scraper,"TikTok Scraper. Download video posts, collect ...",8.6k,-
21,Genymobile\n/\nscrcpy,Display and control your Android device,68,C
22,atom\n/\natom,The hackable text editor,-,JavaScript
23,nushell\n/\nnushell,A new type of shell,-,Rust

## Task 6

In [3]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [4]:
driver.get("https://www.billboard.com/")

In [7]:
driver.get(driver.find_element_by_xpath("//ul[@class='header__subnav__list display--flex flex--left-center flex-md--center-center']/li[3]/a").get_attribute('href'))

In [12]:
name = []
artist = []
last = []
peak = []
weeks = []
##song name
try :
    elements = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[1]")
    for i in elements :
        if i.text is None :
            name.append("-")
        else :
            name.append(i.text)
            
except NoSuchElementException :
      name.append("-")
        
##artist
try :
    elements = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/span[2]/span[2]")
    for i in elements :
        if i.text is None :
            artist.append("-")
        else :
            artist.append(i.text)
            
except NoSuchElementException :
      artist.append("-")  

##last week rank
try :
    elements = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/div/div[1]")
    for i in elements :
        if i.text is None :
            last.append("-")
        else :
            last.append(i.text)
            
except NoSuchElementException :
      last.append("-")
        
##peak rank
try :
    elements = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/div/div[2]")
    for i in elements :
        if i.text is None :
            peak.append("-")
        else :
            peak.append(i.text)
            
except NoSuchElementException :
      peak.append("-")
        
##weeks on chart
try :
    elements = driver.find_elements_by_xpath("//div[@class='chart-list__wrapper']/div/ol/li/button/div/div[3]")
    for i in elements :
        if i.text is None :
            weeks.append("-")
        else :
            weeks.append(i.text)
            
except NoSuchElementException :
      weeks.append("-")

In [13]:
df = pd.DataFrame({})
df['Song_name'] = name
df['Artist_name'] = artist
df['last_week_rank'] = last
df['peak_rank'] = peak
df['weeks_on_board'] = weeks

In [14]:
df

,Song_name,Artist_name,last_week_rank,peak_rank,weeks_on_board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,,4,2
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),,5,1
4,Save Your Tears,The Weeknd & Ariana Grande,,7,1
...,...,...,...,...,...
95,All I Know So Far,P!nk,87,74,3
96,Hold On,Justin Bieber,86,20,13
97,Wasted On You,Morgan Wallen,98,9,19
98,Outside,MO3 X OG Bobby Billions,,-,99
99,Botella Tras Botella,Gera MX + Christian Nodal,,-,60

## Task 7

In [16]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [17]:
driver.get("https://www.naukri.com/")

In [32]:
driver.get(driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href'))

In [33]:
driver.find_element_by_xpath("//div[@class='inpWrap']/input").send_keys('Data science')

In [40]:
driver.find_element_by_xpath("//div[@class='suggest fl']/div/div[2]/input").send_keys('Mumbai')

In [41]:
driver.find_element_by_id("qsbFormBtn").click()

In [29]:
urls = []
for i in driver.find_elements_by_xpath("//section[@class='listContainer fleft']/div[2]/article/div[1]/div/a") :
       urls.append(i.get_attribute('href'))

In [31]:
len(urls)

20

In [43]:
name = []
designation = []
company = []
skills = []
location = []

In [44]:
##names
try :
    elements = driver.find_elements_by_xpath("//div[@class='container fl']/div/div[2]/div/div/div/div/p/a/span")
    for i in elements :
        if i.text is None :
            name.append("-")
        else :
            name.append(i.text)
            
except NoSuchElementException :
    name.append('-')
    
##designtion
try :
    elements = driver.find_elements_by_xpath("//div[@class='container fl']/div/div[2]/div/div/div/div/p/span[1]")
    for i in elements :
        if i.text is None :
            designation.append("-")
        else :
            designation.append(i.text)
            
except NoSuchElementException :
    designation.append('-')
    
##location
try :
    elements = driver.find_elements_by_xpath("//div[@class='container fl']/div/div[2]/div/div/div/div/p/span[2]")
    for i in elements :
        if i.text is None :
            location.append("-")
        else :
            location.append(i.text)
            
except NoSuchElementException :
    location.append('-')
    
##company
try :
    elements = driver.find_elements_by_xpath("//div[@class='container fl']/div/div[2]/div/div/div/div/p/a[2]")
    for i in elements :
        if i.text is None :
            company.append("-")
        else :
            company.append(i.text)
            
except NoSuchElementException :
    company.append('-')

##skills
try :
    elements = driver.find_elements_by_xpath("//div[@class='container fl']/div/div[2]/div/div/div/div[2]")
    for i in elements :
        if i.text is None :
            skills.append("-")
        else :
            skills.append(i.text)
            
except NoSuchElementException :
    skills.append('-')

In [45]:
df = pd.DataFrame({})
df['Name'] = name
df['Designation'] = designation
df['Company'] = company
df['location'] = location
df['Skills'] = skills

In [46]:
df

,Name,Designation,Company,location,Skills
0,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
1,Preeti Duggaraju,Company Recruiter,Monsanto India Ltd.,Mumbai,Not Specified
2,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
3,Avinsh Jain,Consultant Engineer,IBM,Mumbai,"Core Java, Oops, Mysql, Nosql, Insurance, Sale..."
4,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
5,Rajesh Kumar,Chief Financial Officer,Airtel,Mumbai,"javascript, mysql, Asp.net, software, Web Desi..."
6,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
7,Chaitali,Company Recruiter,Turtlemint,Mumbai,Not Specified
8,Sunny Sharma,Managing Director - HR,Western Service Providers,Mumbai,"Software Professionals, Engineering, Technical..."
9,Ravi Kumar,Consultant,Airtel,Mumbai,"e-commerce, Technical Direction, Communication..."
10,Daniel Vaz,Senior Consultant Trading Technology...,Klickto Search,Mumbai,High Frequency Trading firms &amp; Hedge Funds
11,Vikram Pethe,Manager Hr,Data Science Technologies,Navi Mumbai,"Wireless Communications, 3G/LTE/WiMAX, Broadco..."
12,Hansraj B Surti,Talent Acquisition Specialist,Xoriant Solutions P Ltd,Mumbai,"Devops, Storage, Web Technology, Microsoft Tec..."
13,Karthik,HR Recruiter,MakeCareerHere.com,Mumbai,"Scrum, Agile, Business Partnering, Recruitment..."
14,Rajiv Raj,Director,CreditVidya,Mumbai,"Big Data, Data Management, Data Analytics, Ban..."
15,Mohammad Raashid,Recruitment Consultant,Freelancer,Mumbai,"Manufacturing Industry, construction, IT Industry"
16,Akhila Agnihotri,Quantitative Trade Desk Team Lead,BP Wealth,Mumbai,"Data Science, Quantitative Research, Cloud Com..."
17,AMIT CHAUDHARY,Human Resources Specialist,"AlfaTech ,",Mumbai,"Software, Chartered Accountant, Marketing, Acc..."
18,Imran,Recruitment Manager,Recruitment Expert,Mumbai,Multinationals and Major Players across Indust...
19,Nasim khan,Company HR,Angel Broking Limited,Mumbai,"Business Development, Client Acquisition, Bdm,..."
20,Arya,Human Resources Manager,Arya.ai,Mumbai,"Artificial Intelligence, Deep Learning, Machin..."
21,Zenobia Dilkhush,Associate Vice President HR,Karvy Insights Limited,Mumbai,Not Specified
22,Snehal Jadhav,HR Associate,Exponentia DataLabs,Mumbai,"Qlikview, Data Warehousing, Java"
23,Swati Sharma,HR Manager,Spinnaker Corporate Advisors,Mumbai,"Data Science, Sql, Sas, R, Quantitative Analys..."
24,Pragati Bohra,HR Manager,Flexiloans Technologies,Mumbai,Not Specified
25,shailendra soni,Recruitment lead,vodafone,Mumbai,"Java, Software Development, Compliance"
26,Swapnil Gondkar,Founder Director,Itvedant Education Pvt. Ltd.,Mumbai,"Career Counselling, Sales, Faculty, Training"
27,Sayma Izaj Ahmed Kazi,HR Recruiter,3D India Staffing Research and Consulting...,Mumbai,Not Specified
28,Snehal Redkar,Company HR,Accenture Solutions Private Limited,Mumbai,"Analytics, Data Science, Artificial Intelligence"
29,varsha shetty,HR,Angel Broking Private Limited,Mumbai,It
30,Divya Munvar,Recruitment Lead,UBS Business Solutions (India) Pvt. Ltd.,Navi Mumbai,"Java, Business Analyst, .Net, Oracle, Data War..."
31,Ankita Pujari,HR Executive,Play Games24x7 P.Ltd,Mumbai,Not Specified
32,Manjunath Rao,HR Recruiter,Ace talent consulting,Mumbai,"Data Science, Business Intelligence, Video Edi..."
33,SNEHA NITIN PEDNEKAR,IT Recruitment Consultant,TalPro,Mumbai,"Project Management, Senior Management"
34,Payal Kedia,Recruitment Consultant,Advent HR Solutions,Mumbai,Not Specified
35,Nisarg patel,Team Manager Operations,IT Solutions,Mumbai,"Reqvaired, Job, Job Scheduling"
36,Shrikant,Director,Petaa Bytes Analytics Pvt Ltd,Mumbai,Not Specified
37,Bimola Sanyal,Senior IT Recruiter,StriveX Consulting Pvt. Ltd,Mumbai,"Wlan, Networking, Aws, Java, Program Managemen..."
38,Hemant Jog,Company Recruiter,Hexaware Technologies Ltd.,Mumbai,"Big Data, spark, scala, hadoop, hive, Data War..."
39,Pooja,HR Manager,ISSL Market Services,Mumbai,Not Specified
40,Vishal Benere,Sourcing Specialist Analytics Artificial...,Accenture Solutions Pvt Ltd,Mumbai,"Analytics, Machine Learning, Artificial Intell..."
41,Nehal Rathod,Company HR,INTERNATIONAL CUSTOMER LOYALTY PROGRAIIMES...,Mumbai,Not Specified
42,Ritvvij Parrikh,CEO,Pykih Data Intelligence Private Limited,Mumbai,"Javascript, React.js, Data Science, Machine Le..."
43,Devyani,Company HR,Bee Fintech Private Limited,Mumbai,Not Specified
44,Shikha,Recruitment Consultant,FRACTAL ANALYTICS PVT. LTD,Mumbai,Not Specified
45,Sanjay Kisku,Leader Architect,ZZ Architects,Mumbai,"Software Development, Coding, Core Java, Unit ..."
46,Oscar Dsouza,Senior Consultant,klickto search,Mumbai,"Java, C++, C#, Qa, Ba, Pm, Support"
47,dheeraj,Sr Manager HR,Phimetrics Technologies Pvt. Ltd.,Mumbai,Not Specified
48,vidya,,.......,Mumbai,Not Specified
49,Sneha Kamble,HR Recruiter,Srijan Consultancy,Mumbai,Not Specified

## Task 8

In [25]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [28]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [34]:
driver.get(driver.find_element_by_xpath("//div[@class='stand-first-alone']/a[2]").get_attribute('href'))

In [ ]:
driver.find_element_by_xpath("//div[@class='embed block']/table/tbody/tr/td[1]")

In [37]:
rank = []
title = []
author = []
volumes = []
publisher = []
genre = []

In [38]:
##rank
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[1]")
    for i in elements :
        if i.text is None :
            rank.append("-")
        else :
            rank.append(i.text)
            
except NoSuchElementException :
    rank.append('-')

##book title
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
    for i in elements :
        if i.text is None :
            title.append("-")
        else :
            title.append(i.text)
            
except NoSuchElementException :
    title.append('-')  

##book author
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
    for i in elements :
        if i.text is None :
            author.append("-")
        else :
            author.append(i.text)
            
except NoSuchElementException :
    author.append('-') 
    
##volumes sold
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
    for i in elements :
        if i.text is None :
            volumes.append("-")
        else :
            volumes.append(i.text)
            
except NoSuchElementException :
    volumes.append('-') 

##publisher
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
    for i in elements :
        if i.text is None :
            publisher.append("-")
        else :
            publisher.append(i.text)
            
except NoSuchElementException :
    publisher.append('-') 
    
##publisher
try :
    elements = driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
    for i in elements :
        if i.text is None :
            genre.append("-")
        else :
            genre.append(i.text)
            
except NoSuchElementException :
    genre.append('-')

In [39]:
df = pd.DataFrame({})
df['Rank'] = rank
df['Book name'] = title
df['Author name'] = author
df['Volumes sold'] = volumes
df['Publisher'] = publisher
df['Genre'] = genre

In [40]:
df

,Rank,Book name,Author name,Volumes sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Task 9

In [51]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [52]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [67]:
name = []
year = []
genre = []
runtime = []
rating = []
votes = []

In [68]:
##names
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/a")
    for i in elements :
        if i.text is None :
            name.append("-")
        else :
            name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
##year
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/h3/span[2]")
    for i in elements :
        if i.text is None :
            year.append("-")
        else :
            year.append(i.text)
except NoSuchElementException:
    year.append("-")

##runtime
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p/span[3]")
    for i in elements :
        if i.text is None :
            runtime.append("-")
        else :
            runtime.append(i.text)
except NoSuchElementException:
    runtime.append("-")
    
##genre
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p/span[5]")
    for i in elements :
        if i.text is None :
            genre.append("-")
        else :
            genre.append(i.text)
except NoSuchElementException:
    genre.append("-")

##rating
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/div/div[1]/span[2]")
    for i in elements :
        if i.text is None :
            rating.append("-")
        else :
            rating.append(i.text)
except NoSuchElementException:
    rating.append("-")

##votes
try :
    elements = driver.find_elements_by_xpath("//div[@class='lister-item mode-detail']/div[2]/p[4]/span[2]")
    for i in elements :
        if i.text is None :
            votes.append("-")
        else :
            votes.append(i.text)
except NoSuchElementException:
    votes.append("-")

In [69]:
len(name)

100

In [71]:
df = pd.DataFrame({})
df['Name'] = name
df['Year_span'] = year
df['Genre'] = genre
df['Runtime'] = runtime
df['Ratings'] = rating
df['Votes'] = votes

In [72]:
df

,Name,Year_span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,821,917"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"862,893"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,042"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,519"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"223,832"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,552"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,038"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,482"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,860"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,200"

## Task 10

In [74]:
driver = webdriver.Chrome("C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe")

In [75]:
driver.get("https://archive.ics.uci.edu/")

In [82]:
driver.get(driver.find_element_by_xpath("//tbody/tr/td[2]/span[2]/a").get_attribute('href'))

In [107]:
name = []
dtype = []
task = []
attribute_type = []
no_of_instances = []
no_of_attributes = []
year = []

In [92]:
len(name)

588

In [89]:
driver.find_element_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]").text

'Abalone'

In [108]:
##name
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td/table/tbody/tr/td[2]")
    for i in elements :
        if i.text is None :
            name.append("-")
        else :
            name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
##data type
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in elements :
        if i.text is None :
            dtype.append("-")
        else :
            dtype.append(i.text)
except NoSuchElementException:
    dtype.append("-")

##task
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in elements :
        if i.text is None :
            task.append("-")
        else :
            task.append(i.text)
except NoSuchElementException:
    task.append("-")
 

##attribution type
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in elements :
        if i.text is None :
            attribute_type.append("-")
        else :
            attribute_type.append(i.text)
except NoSuchElementException:
    attribute_type.append("-")
    
##no_of_instances
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in elements :
        if i.text is None :
            no_of_instances.append("-")
        else :
            no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("-")
    
##no_of_attributes
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in elements :
        if i.text is None :
            no_of_attributes.append("-")
        else :
            no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("-")
    

##year
try :
    elements = driver.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in elements :
        if i.text is None :
            year.append("-")
        else :
            year.append(i.text)
except NoSuchElementException:
    year.append("-")

In [110]:
dtype.pop(0)

'Data Types'

In [111]:
task.pop(0)

'Default Task'

In [112]:
attribute_type.pop(0)

'Attribute Types'

In [113]:
no_of_instances.pop(0)

'# Instances'

In [114]:
no_of_attributes.pop(0)

'# Attributes'

In [116]:
year.pop(0)

'Year'

In [117]:
df = pd.DataFrame({})
df['name'] = name 
df['data type'] = dtype
df['task'] = task
df['attribute_type'] = attribute_type
df['no_of_instances'] = no_of_instances 
df['no_of_attributes'] = no_of_attributes
df['year'] = year

In [118]:
df

,name,data type,task,attribute_type,no_of_instances,no_of_attributes,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021