### Task 1

In [3]:
from selenium import webdriver
import os
import pandas as pd

In [8]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.naukri.com/')

insert=driver.find_element_by_xpath("//div[@class='sWrap']/div//input[@class='sugInp']")
insert.send_keys("Data Analyst")

insert1=driver.find_element_by_xpath("//div[2]/div//input[@class='sugInp']")
insert1.send_keys("Bangalore")


insert2=driver.find_element_by_xpath("//div[@class='search-btn']/button")
insert2.click()

In [12]:

job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_req=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

print(len(job_title),len(job_location),len(company_name),len(experience_req))

20 20 20 20

In [10]:
Data_Analyst={}
Data_Analyst['Job_Title']=[]
Data_Analyst['Job_Location']=[]
Data_Analyst['Company_Name']=[]
Data_Analyst['Experience_Req']=[]
Data_Analyst

{'Job_Title': [], 'Job_Location': [], 'Company_Name': [], 'Experience_Req': []}

In [13]:
for i in job_title:
    Data_Analyst['Job_Title'].append(i.text)
print(len(Data_Analyst['Job_Title']))

for k in job_location:
    Data_Analyst['Job_Location'].append(k.text)
print(len(Data_Analyst['Job_Location']))

for j in company_name:
    Data_Analyst['Company_Name'].append(j.text)
print(len(Data_Analyst['Company_Name']))

for h in experience_req:
    Data_Analyst['Experience_Req'].append(h.text)
print(len(Data_Analyst['Experience_Req']))

20
20
20
20

In [15]:
df=pd.DataFrame(Data_Analyst)
df=df.iloc[0:10]
df

,Job_Title,Job_Location,Company_Name,Experience_Req
0,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Business Analyst and Data Analyst,"Delhi NCR, Bengaluru, Hyderabad",Tech Mahindra Ltd.,7-12 Yrs
2,Data Analyst,"Chennai, Delhi NCR, Bengaluru",Hk solutions,0-3 Yrs
3,Intern - DFM Data Analyst,Bengaluru,GLOBALFOUNDRIES Engineering Private Limited,0-5 Yrs
4,Hiring Data Analysts on Contract Third party p...,Bengaluru,Flipkart Internet Private Limited,2-6 Yrs
5,Reliability Data Analyst,Bengaluru,Alstom Transport India Ltd.,3-8 Yrs
6,Senior Data Analyst,Bengaluru,Myntra,2-7 Yrs
7,Data Analyst,Bengaluru,Ladder of changes,0-5 Yrs
8,Data Analyst / Business Analyst,Bengaluru,Altisource,1-6 Yrs
9,Hiring For Data Analyst RE) - Bangalore,Bengaluru(Bellandur),TELEPERFORMANCE GLOBAL SERVICES,2-6 Yrs

In [16]:
df.to_csv("Data_Analyst.csv")

### Task 2

In [19]:
from selenium import webdriver
import os
import pandas as pd
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

In [20]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.naukri.com/')

In [21]:
driver.switch_to_window(driver.window_handles[1])
driver.close()

time.sleep(3)

driver.switch_to_window(driver.window_handles[2])
driver.close()

time.sleep(3)

driver.switch_to_window(driver.window_handles[1])
driver.close()
driver.switch_to_window(driver.window_handles[0])

time.sleep(3)

insert1=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
insert1.click()

time.sleep(3)

insert2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
insert2.click()

time.sleep(5)

insert3=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
insert3.send_keys('Data Analyst')

time.sleep(3)

insert4= driver.find_element_by_xpath("//div[2][@class='suggestor-location']//div[@class='sWrap']//input")
insert4.send_keys('Bangalore')

time.sleep(3)

insert5= driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
insert5.click()

time.sleep(3)

insert6 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")

In [22]:
Job_Title = []
Location = []
Company_Name = []
Full_Job_Description = []

#Extracting Job title data
for aa in Task6:
    b  = aa.text
    Job_Title.append(b)
    
# Putting Data in dataframe   
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'},axis = 1 )


time.sleep(5)

# Extracting company name data 
insert7 = driver.find_elements_by_xpath("//div[@class='info fleft']//a[@class='subTitle ellipsis fleft']")
time.sleep(5)
for qq in insert7:
    z = qq.text
    Company_Name.append(z)

#Making DataFrame
Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1  )

time.sleep(3)

# Extracting  Location Data
insert8 = driver.find_elements_by_xpath("//ul[@class='mt-7']//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for xc in insert8:
    ii = xc.text
    Location.append(ii)
    
Location =pd.DataFrame(Location)
Location=Location.rename( columns = { 0 : 'Location'} )

time.sleep(4)
insert9 = driver.find_element_by_xpath("//div[@class='content']/section//article/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert9.click()

time.sleep(4)
insert10 = driver.find_element_by_xpath("//div[@class='content']/section//article[2]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert10.click()

time.sleep(4)
insert11 = driver.find_element_by_xpath("//div[@class='content']/section//article[3]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert11.click()

time.sleep(4)
insert12 = driver.find_element_by_xpath("//div[@class='content']/section//article[5]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert12.click()

time.sleep(4)
insert13 = driver.find_element_by_xpath("//div[@class='content']/section//article[6]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert13.click()

time.sleep(4)
insert14 = driver.find_element_by_xpath("//div[@class='content']/section//article[7]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert14.click()

time.sleep(4)
insert15 = driver.find_element_by_xpath("//div[@class='content']/section//article[8]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert15.click()

time.sleep(4)
insert16 = driver.find_element_by_xpath("//div[@class='content']/section//article[9]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert16.click()

time.sleep(4)
insert17 = driver.find_element_by_xpath("//div[@class='content']/section//article[10]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert17.click()

time.sleep(4)
insert18 = driver.find_element_by_xpath("//div[@class='content']/section//article[11]/div[@class='jobTupleHeader']//a[@class='title fw500 ellipsis']")
insert18.click()

driver.switch_to_window(driver.window_handles[10])
#Extracting  Description
insert20 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
Desc1 =[]
for hj in insert20:
    ko =hj.text
    Desc1.append(ko)
    
desc1=pd.DataFrame(Desc1)
time.sleep(4)

#Extracting  Description
driver.switch_to_window(driver.window_handles[9])

Desc2 =[]
Desc3 = []
Desc4 = []
Desc5 = []
Desc6 = []
Desc7 = []
Desc8 = []
Desc9 = []
Desc10 = []

# Extracting  Description
insert21 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for kl in insert21:
    zx = kl.text
    Desc2.append(zx)
desc2=pd.DataFrame(Desc2)


driver.switch_to_window(driver.window_handles[8])
time.sleep(4)

# Extracting  job Description
insert22 = driver.find_elements_by_xpath("//div[@class='entry-content-wrapper clearfix']//div[@class='clearboth description']")
for cv in insert22:
    bn= cv.text
    Desc3.append(bn)

desc3 = pd.DataFrame(Desc3)

driver.switch_to_window(driver.window_handles[7])
time.sleep(4)

insert23 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for mn in insert23:
    qe = mn.text
    Desc4.append(qe)
    
desc4 = pd.DataFrame(Desc4)

time.sleep(4)

driver.switch_to_window(driver.window_handles[6])
insert24= driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']" )

for wr in insert24:
    et = wr.text
    Desc5.append(et)

desc5=pd.DataFrame(Desc5)

time.sleep(4)
driver.switch_to_window(driver.window_handles[5])

#Getting Job Description
insert25 =driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for yi in insert25:
    uo = yi.text
    Desc6.append(uo)
    
desc6 = pd.DataFrame(Desc6)

time.sleep(4)

driver.switch_to_window(driver.window_handles[4])

insert26 = driver.find_elements_by_xpath("//section[@class='job-desc']")
for ipk in insert26:
    adj = ipk.text
    Desc7.append(adj)
    
desc7= pd.DataFrame(Desc7)

#Extracting Job Description

driver.switch_to_window(driver.window_handles[3])

insert27 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for ihl in insert27:
    adjd = ihl.text
    Desc8.append(adjd)
    
desc8 = pd.DataFrame(Desc8)

#Extracting  Job Description

driver.switch_to_window(driver.window_handles[2])

insert28 = driver.find_elements_by_xpath("//div[@class='jd-container']//section[@class='job-desc']")
for kl in insert28:
    ad = kl.text
    Desc9.append(ad)
    
desc9 = pd.DataFrame(Desc9)

time.sleep(4)

#Extracting  Job Description

driver.switch_to_window(driver.window_handles[1])
insert29 = driver.find_elements_by_xpath("//div[@class='clearboth description']")
for fk in insert29:
    al = fk.text
    Desc10.append(al)
    
desc10 = pd.DataFrame(Desc10)

# Extracting Complete job descrption data 
Job_Description = pd.concat([desc1,desc2,desc3,desc4,desc5,desc6,desc7,desc8,desc9,desc10], axis=0)
Job_Description.index=range(7)
Job_Description=Job_Description.rename(columns ={ 0 : 'Job Description'})

Job_Title1 = Job_Title.iloc[0:10]
Company_Name1 =Company_Name.iloc[0:10]
Location1 = Location.iloc[0:10]

#Extracting complete data 
Naukri_2= pd.concat([Job_Title1,Company_Name1,Location1,Job_Description], axis=1)
Naukri_2

,Job Title,Company Name,Location,Job Description
0,Immediate opening For Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad",Job description\nDear Candidate\n\nSchedule a ...
1,Business Analyst and Data Analyst,Tech Mahindra Ltd.,"Delhi NCR, Bengaluru, Hyderabad",Job description\nWe have opening for Data Anal...
2,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",Job description\nRoles and Responsibilities\nJ...
3,Intern - DFM Data Analyst,GLOBALFOUNDRIES Engineering Private Limited,Bengaluru,Job description\nRoles and Responsibilities\nR...
4,Hiring Data Analysts on Contract Third party p...,Flipkart Internet Private Limited,Bengaluru,Job description\nGreetings from “Altisource bu...
5,Reliability Data Analyst,Alstom Transport India Ltd.,Bengaluru,Job description\nHiring for Data Analyst(RE)\n...
6,Data Analyst,Ladder of changes,Bengaluru,Job description\nHiring for Data Analyst(RE)\n...
7,Data Analyst / Business Analyst,Altisource,Bengaluru,NaN
8,Hiring For Data Analyst RE) - Bangalore,TELEPERFORMANCE GLOBAL SERVICES,Bengaluru(Bellandur),NaN
9,Data Analyst (Telcom domain),Oracle India Pvt. Ltd.,Bengaluru,NaN

### Task 3

In [23]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.naukri.com/')

Job_Title = []
Location = []
Company_Name = []
Experience_Required = []

time.sleep(4)

driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(2)
driver.switch_to_window(driver.window_handles[2])
driver.close()
time.sleep(4)
driver.switch_to_window(driver.window_handles[1])
driver.close()

time.sleep(4)

driver.switch_to_window(driver.window_handles[0])

time.sleep(4)

Task1=driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()

time.sleep(20)

Task2 =driver.find_element_by_xpath("//span[@class='fr geoLocBtn later']")
Task2.click()

time.sleep(5)

Task3=driver.find_element_by_xpath("//div[@class='inpWrap']/input")
Task3.send_keys('Data Analyst')

time.sleep(5)
Task5= driver.find_element_by_xpath("//div[@class='qsb-main-content row']//button")
Task5.click()

time.sleep(5)

Task6= driver.find_element_by_xpath("//div[@class='filters']/div[2]/div[2]/div[2]/label/i")
Task6.click()

time.sleep(10)
Task7= driver.find_element_by_xpath("//div[@class='filters']/div[3]/div[2]/div[2]/label/i")
Task7.click()

time.sleep(5)

#Extracting Job Title data 
Task8 = driver.find_elements_by_xpath("//div[@class='jobTupleHeader']/div/a")
for aa in Task8:
    bb  = aa.text
    Job_Title.append(bb)
    
Job_Title = pd.DataFrame(Job_Title)
Job_Title = Job_Title.rename({ 0 : 'Job Title'} , axis = 1 )


time.sleep(5)

# Extracting  company name 
Task9 = driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")

for cc in Task9:
    kk = cc.text
    Company_Name.append(kk)
Company_Name

Company_Name = pd.DataFrame(Company_Name)
Company_Name= Company_Name.rename({0 : 'Company Name'}, axis=1  )

time.sleep(5)

# Extracting  Location Data
Task10 = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
for jj in Task10:
    vv = jj.text
    Location.append(vv)
Location[0:5]

Location =pd.DataFrame(Location)
Location=Location.rename( columns = { 0 : 'Location'} )

time.sleep(5)

# Extracting  Experience required data 
Task11= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for pp in Task11:
    g = pp.text
    Experience_Required.append(g)
    
Experience_Required = pd.DataFrame(Experience_Required)
Experience_Required  = Experience_Required.rename(columns = { 0 : 'Experience'})


#Extracting Final Data 
Naukri_Jobs = pd.concat([Job_Title,Company_Name,Location ,Experience_Required ] ,axis=1)
Naukri_Jobs3 =Naukri_Jobs.iloc[0:10]
Naukri_Jobs3

,Job Title,Company Name,Location,Experience
0,Data Analyst,Hk solutions,"Chennai, Delhi NCR, Bengaluru",0-3 Yrs
1,Data Analyst,Netomi,Gurgaon,0-1 Yrs
2,Data Analyst,Spectral Consultants,Gurgaon,3-6 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Ghaziabad, Gurgaon",0-0 Yrs
4,MIS Executive / Data Analyst / Research Analyt...,GABA Consultancy services,"Delhi NCR, Greater Noida, Gurgaon",0-5 Yrs
5,Data Analyst / Business Analytics / Fresher An...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-5 Yrs
6,Data Analyst,Snaphunt,Delhi NCR,2-5 Yrs
7,Data Analyst - Protiviti Gurgaon,Protiviti India Member Private limited,Gurgaon,1-6 Yrs
8,MIS Executive / Data Analyst / Research Analyt...,GABA Consultancy services,"Faridabad, Delhi NCR, Ghaziabad",0-5 Yrs
9,SQL Data Analyst,4bell Technology,Delhi/NCR Delhi NCR,2-7 Yrs

### Task 4

In [93]:
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.glassdoor.co.in/index.htm')



Company_Name = []
Job_Posting_Days = []
Rating = []

Task1=driver.find_element_by_xpath("//div[@class='locked-home-sign-in']")
Task1.click()
time.sleep(5)
Task2=driver.find_element_by_xpath("//div[@class='minh-modal d-flex flex-column justify-content-between fullHeight mw-400']/div/div/div[3]//div[1]//input")
Task2.send_keys('susmita09@gmail.com')
time.sleep(5)
Task3=driver.find_element_by_xpath("//div[@class='minh-modal d-flex flex-column justify-content-between fullHeight mw-400']/div/div/div[3]//div[2]//input")
Task3.send_keys('xyz12345')
time.sleep(5)
Task4=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
Task4.click()
time.sleep(5)
Task5 = driver.find_element_by_xpath("//div[@class='d-flex col-6 p-0 SearchStyles__searchKeywordContainer']/div//input")
Task5.send_keys('Data Scientist')
time.sleep(5)
Task6 = driver.find_element_by_xpath("//div[@class='ml-xsm col-4 p-0 headerSearchInput SearchStyles__searchBarLocationInput css-1ohf0ui']/div[@class='input-wrapper css-q444d9']/input")
Task6.send_keys('Noida')
time.sleep(5)
Task7 =driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto css-iixdfr']/span")
Task7.click()
time.sleep(5)

#Extracting  company data 

Task8 = driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']/a")
Task8
for fr in Task8:
    gf = fr.text
    Company_Name.append(gf)
    
Company_Name1= pd.DataFrame(Company_Name)
Company_Name1 = Company_Name1.rename(columns = {0 : 'Company Name'})
Company_Name1

# Extracting  No of Days job posted data 
Task8 = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']//div[@class='d-flex align-items-end pl-std css-mi55ob']")  if driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-1qtdns2']//div[@class='d-flex align-items-end pl-std css-mi55ob']") else '-' 
Task8

for hy in Task8:
    se = hy.text
    Job_Posting_Days.append(se)
    
Job_Posting_Days1 = pd.DataFrame(Job_Posting_Days)
Days_Posted =Job_Posting_Days1.rename(columns = { 0 : 'Days Posted'})

# Extracting  company rating data 
Task9 = driver.find_elements_by_xpath("//span[@class='compactStars ']")

for bg in Task9:
    pi = bg.text
    Rating.append(pi)
    
Rating1 = pd.DataFrame(Rating)
Rating2=Rating1.rename(columns  = {0 : 'Rating'} )

Company_Name2 = Company_Name1.iloc[0:10]
Days_Posted1 = Days_Posted.iloc[0:10]
Rating3 = Rating2.iloc[0:10]

# Extracting  complete Data scientist job Data From glassdoor.
Data_Scientist_Glassdoor  = pd.concat([Company_Name2 ,Days_Posted1 , Rating3] , axis=1)
Data_Scientist_Glassdoor

                                        Company Name Days Posted Rating
0                                        J.P. Morgan          2d      4
1                                             Paypal          3d    3.7
2                                       Interactions         25d    3.4
3                                          Gainsight         24h    4.2
4  Mercedes-Benz Research and Development India P...          9d    3.8
5                                             Amazon         10d    4.3
6                                             NetApp         19d      4
7                                        J.P. Morgan         23d      4
8                     TATA Consultancy Services Ltd.         17d    3.8
9                                 Ericsson-Worldwide          5d      4

### Task 5

In [27]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get("https://www.flipkart.com/")

time.sleep(3)
Task1 =driver.find_element_by_xpath("//div[@class='_3Njdz7']/button")
Task1.click()
time.sleep(3)
Task2 = driver.find_element_by_xpath("//div[@class='O8ZS_U']/input")
Task2.send_keys('Sunglasses')
time.sleep(3)
Task3 = driver.find_element_by_xpath("//button[@class='vh79eN']")
Task3.click()
time.sleep(5)

Brand = []
Product_Description = []
Product_Description1 = []
Price  = []
Discount = []

#Extracting Brand Data 
Task4 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
for  p in Task4:
    y = p.text
    Brand.append(y)
    
Brand1 = pd .DataFrame(Brand)
Brand1 = Brand1.rename(columns = { 0 : 'Brand'})


time.sleep(3)

# Extracting product description
Task5 =driver.find_elements_by_xpath("//a[@class='_2mylT6']")
for n in Task5:
    uy = n.text
    Product_Description.append(uy)
    
Product_Description1 = pd.DataFrame(Product_Description)
Product_Description1 = Product_Description1.rename(columns = { 0 : 'Product Description'} )

time.sleep(3)
#Extracting Price Data
Task6 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for e in Task6:
    rt = e.text
    Price.append(rt)
Price1 = pd.DataFrame(Price)
Price1 = Price1.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task7 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for tr in Task7:
    qz =  tr.text
    Discount.append(qz)
    
time.sleep(3)
Discount1 = pd.DataFrame(Discount)
Discount1 = Discount1.rename({ 0 : 'Discount'} , axis =1)
time.sleep(3)

Brand2 = Brand1.iloc[0:38]
Product_Description2 = Product_Description1.iloc[0:38]
Price2 = Price1.iloc[0:38]
Discount2 = Discount1.iloc[0:38]
sun =pd.concat([Brand2, Product_Description2,Price2, Discount2],axis=1)

time.sleep(5)
Task8 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[2]")
Task8.click()
time.sleep(5)


Brand4 = []
Product_Description4 = []
Price4 = []
Discount4 = []
time.sleep(5)

# Extracting  Brand data of second page
Task9 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
for  byx in Task9:
    qdx = byx.text
    Brand4.append(qdx)
Brand5 = pd .DataFrame(Brand4)
Brand6 = Brand5.rename(columns = { 0 : 'Brand'})
time.sleep(3)

# Extracting  Production Description data
Task10 =driver.find_elements_by_xpath("//a[@class='_2mylT6']")
Task10[0:5]

for qzq in Task10:
    mqq = qzq.text
    Product_Description4.append(mqq)
Product_Description5 = pd.DataFrame(Product_Description4)
Product_Description6 = Product_Description5.rename(columns = { 0 : 'Product Description'}  )
time.sleep(3)

Task11 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qma in Task11:
    apa = qma.text
    Price4.append(apa)
Price5 = pd.DataFrame(Price4)
Price6= Price5.rename(columns = { 0: 'Price'} )
time.sleep(3)

Task12 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")
for cyz in Task12:
    qzz =  cyz.text
    Discount4.append(qzz)
Discount5 = pd.DataFrame(Discount4)
Discount6 = Discount5.rename(columns = { 0 : 'Discount'})

Brand7 = Brand6.iloc[0:33]
Product_Description7 = Product_Description6.iloc[0:33]
Price7 = Price6.iloc[0:33]
Discount7 = Discount6.iloc[0:33]
sun1 =pd.concat([Brand7,Product_Description7,Price7,Discount7],axis=1)

time.sleep(4)
Task13 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[4]")
Task13.click()

time.sleep(5)

#Extracting  Brand Data from second Page
Task14 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
Brand10 = []
Product_Description10 = []
Price10 = []
Discount10  = []
for  byf in Task14:
    qdf = byf.text
    Brand10.append(qdf)

Brand11 = pd .DataFrame(Brand10)
Brand12 = Brand11.rename(columns = { 0 : 'Brand'})

time.sleep(5)

#Extracting  Product description data 
Task15 =driver.find_elements_by_xpath("//a[@class='_2mylT6']") 

for qzm in Task15:
    mqm = qzm.text
    Product_Description10.append(mqm)

Product_Description11= pd.DataFrame(Product_Description10)
Product_Description12 = Product_Description11.rename(columns = { 0 : 'Product Description'}  )
time.sleep(5)
Task16 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qmw in Task16:
    apw = qmw.text
    Price10.append(apw)
Price11 = pd.DataFrame(Price10)
Price12 = Price11.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task17 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for cyh in Task17:
    qzh =  cyh.text
    Discount10.append(qzh)
Discount11 = pd.DataFrame(Discount10)
Discount12 = Discount11.rename({ 0 : 'Discount'} , axis =1)


Brand13 = Brand12.iloc[0:29]
Product_Description13 = Product_Description12.iloc[0:29]
Price13  =Price12.iloc[0:29]
Discount13  = Discount12.iloc[0:29] 
sun2 =pd.concat([Brand13, Product_Description13,Price13, Discount13],axis=1)

time.sleep(4)
Task18 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[5]")
Task18.click()

time.sleep(5)

#Extracting Brand Data from second Page
Task19 =driver.find_elements_by_xpath("//div[@class='_2B_pmu']")
Brand15 = []
Product_Description15 = []
Price15 = []
Discount15  = []
for  byfx in Task19:
    qdfx = byfx.text
    Brand15.append(qdfx)

Brand16 = pd .DataFrame(Brand15)
Brand17 = Brand16.rename(columns = { 0 : 'Brand'})

time.sleep(5)

#Extracting  Product description data 
Task20 =driver.find_elements_by_xpath("//a[@class='_2mylT6']") 

for qzmq in Task20:
    mqmq = qzmq.text
    Product_Description15.append(mqmq)

Product_Description16= pd.DataFrame(Product_Description15)
Product_Description17 = Product_Description16.rename(columns = { 0 : 'Product Description'}  )
time.sleep(5)
Task21 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")
for qmwa in Task21:
    apwa = qmwa.text
    Price15.append(apwa)
Price16 = pd.DataFrame(Price15)
Price17 = Price16.rename(columns = { 0: 'Price'} )
time.sleep(5)
Task22 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span") 
for cyhz in Task22:
    qzhz =  cyhz.text
    Discount15.append(qzhz)
Discount16 = pd.DataFrame(Discount15)
Discount17 = Discount16.rename({ 0 : 'Discount'} , axis =1)

Brand18 = Brand17.iloc[0:20]
Product_Description18 = Product_Description17.iloc[0:20]
Price18  =Price17.iloc[0:20]
Discount18  = Discount17.iloc[0:20] 
sun4 =pd.concat([Brand18, Product_Description18,Price18, Discount18],axis=1)

# Extracting  Final Sunglasses data 
Sunglasses = pd.concat([sun,sun1,sun2,sun4] , axis=0)
Sunglasses

,Brand,Product Description,Price,Discount
0,David Martin,"Gradient, UV Protection Aviator Sunglasses (Fr...",₹294,78% off
1,ROZZETTA CRAFT,Others Oval Sunglasses (53),₹404,79% off
2,ARNETTE,"Mirrored, UV Protection Round Sunglasses (50)","₹3,514",45% off
3,Fossil,"UV Protection, Polarized Aviator Sunglasses (F...","₹3,520",20% off
4,Singco India,UV Protection Wayfarer Sunglasses (Free Size),₹189,72% off
...,...,...,...,...
15,shadz,UV Protection Retro Square Sunglasses (Free Size),₹190,85% off
16,Rylie,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹284,81% off
17,Trendy Glasses,UV Protection Round Sunglasses (Free Size),₹228,82% off
18,JUST STYLE,UV Protection Aviator Sunglasses (57),₹118,60% off
19,LEZTO,UV Protection Round Sunglasses (Free Size),₹179,81% off

### Task 6

In [28]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

time.sleep(3)

insert=driver.find_element_by_xpath("//div[@class='swINJg _3nrCtb']/span").click()

In [29]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [30]:
I_phone={}
I_phone['Rating']=[]
I_phone['Review_summary']=[]
I_phone['Full_review']=[]
I_phone

{'Rating': [], 'Review_summary': [], 'Full_review': []}

In [31]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

10
10
10

In [32]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[4]").click()

In [33]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [34]:
for cc in rating:
    I_phone['Rating'].append(cc.text)
print(len(I_phone['Rating']))

for bcc in review_summary:
    I_phone['Review_summary'].append(bcc.text)
print(len(I_phone['Review_summary']))

for cdc in full_review:
    I_phone['Full_review'].append(cdc.text)
print(len(I_phone['Full_review']))

20
20
20

In [35]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[5]").click()

In [36]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [37]:
for acc in rating:
    I_phone['Rating'].append(acc.text)
print(len(I_phone['Rating']))

for zcc in review_summary:
    I_phone['Review_summary'].append(zcc.text)
print(len(I_phone['Review_summary']))

for odc in full_review:
    I_phone['Full_review'].append(odc.text)
print(len(I_phone['Full_review']))

30
30
30

In [38]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[6]").click()

In [39]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [40]:
for acc in rating:
    I_phone['Rating'].append(acc.text)
print(len(I_phone['Rating']))

for zcc in review_summary:
    I_phone['Review_summary'].append(zcc.text)
print(len(I_phone['Review_summary']))

for odc in full_review:
    I_phone['Full_review'].append(odc.text)
print(len(I_phone['Full_review']))

40
40
40

In [41]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[7]").click()

In [42]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [43]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

50
50
50

In [44]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[8]").click()

In [45]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [46]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

60
60
60

In [47]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[9]").click()

In [48]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [49]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

70
70
70

In [50]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[10]").click()

In [51]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [52]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

80
80
80

In [53]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[12]").click()

In [54]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [55]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

90
90
90

In [56]:
next_page=driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[11]").click()

In [57]:
rating=driver.find_elements_by_xpath("//div[@class='hGSR34 E_uFuv']") 

review_summary=driver.find_elements_by_xpath("//p[@class='_2xg6Ul']")

full_review=driver.find_elements_by_xpath("//div[@class='qwjRop']")

print(len(rating),len(review_summary),len(full_review))

10 10 10

In [58]:
for ab in rating:
    I_phone['Rating'].append(ab.text)
print(len(I_phone['Rating']))

for bc in review_summary:
    I_phone['Review_summary'].append(bc.text)
print(len(I_phone['Review_summary']))

for cd in full_review:
    I_phone['Full_review'].append(cd.text)
print(len(I_phone['Full_review']))

100
100
100

In [59]:
df=pd.DataFrame(I_phone)
df

,Rating,Review_summary,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Excellent,100% Original
96,5,Terrific purchase,No word to say ..simply Awesome. Love it😘😘😘😘
97,5,Worth every penny,Excellent phone it’s a pro and value for the m...
98,5,Best in the market!,"Best Camera, good speakers and I guess green i..."
99,5,Worth every penny,Really a giant for battery backup and really g...

### Task 7

In [60]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.flipkart.com/')

time.sleep(8)

Brand = []
Product_Description = []
Price = []
Discount = []

time.sleep(3)
Task1 = driver.find_element_by_xpath("//div[@class='_3Njdz7']/button")
Task1.click()
time.sleep(5)
Task2 = driver.find_element_by_xpath("//div[@class='O8ZS_U']/input")
Task2.send_keys('Sneakers')
time.sleep(5)
Task3 = driver.find_element_by_xpath("//button[@class='vh79eN']")
Task3.click()

time.sleep(3)

#Extracting Brand data from first page
Task4 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")

for c in Task4:
    z = c.text
    Brand.append(z)
    
Brand1 = pd.DataFrame(Brand)
Brand1 = Brand1.rename(columns = { 0 : 'Brand'})
time.sleep(3)

# Extracting  Product Description data from first page
Task5 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for m in Task5:
    p = m.text
    Product_Description.append(p)
Product_Description1 = pd.DataFrame(Product_Description)
Product_Description1 = Product_Description1.rename({ 0: 'Product Description'} , axis=1 )

time.sleep(3)

# Extracting  Price data from first page

Task6 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for v in Task6:
    mn =v.text
    Price.append(mn)
    
Price1 = pd.DataFrame(Price)
Price1 = Price1.rename(columns = { 0 : 'Price'})
Price2 = Price1.iloc[0:40]
time.sleep(3)

# Extracting  Discount data from first page
Task7 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")
for ki in Task7:
    hi = ki.text
    Discount.append(hi)

Discount1 = pd.DataFrame(Discount)
Discount1 =Discount1.rename(columns = { 0 : 'Discount'})
Sneakers1 =pd.concat([Brand1,Product_Description1,Price2,Discount1] , axis=1)
time.sleep(5)
Task8 = driver.find_element_by_xpath("//a[@class='_3fVaIS']/span")
Task8.click()
time.sleep(3)


Brand3 = []
Product_Description3 = []
Price3 = []
Discount3 = []



# Extracting  Brand data from second page
Task9 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")

for cv in Task9:
    bn = cv.text
    Brand3.append(bn)

Brand3 = pd.DataFrame(Brand3)
Brand3 = Brand3.rename(columns = { 0 : 'Brand'})

time.sleep(3)

# Extracting  product description data from second page
Task10 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for gh in Task10:
    jk = gh.text
    Product_Description3.append(jk)

Product_Description3 = pd.DataFrame(Product_Description3)
Product_Description3 = Product_Description3.rename({ 0: 'Product Description'} , axis=1 )

# Extracting Price data from second page
time.sleep(3)

Task11 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for apvq in Task11:
    apxq =apvq.text
    Price3.append(apxq)

Price3 = pd.DataFrame(Price3)
Price3 = Price3.rename(columns = { 0 : 'Price'})


Price3 = Price3.iloc[0:40]
time.sleep(3)

# Extracting  Discount  data from second page
Task12 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")

for po in Task12:
    hn = po.text
    Discount3.append(hn)

Discount3 = pd.DataFrame(Discount3)

Discount3 =Discount3.rename(columns = { 0 : 'Discount'})
time.sleep(2)
Sneakers2 =pd.concat([Brand3,Product_Description3,Price3,Discount3] , axis=1)
time.sleep(3)
Task14 = driver.find_element_by_xpath("//nav[@class='_1ypTlJ']/a[3]")
Task14.click()
time.sleep(5)

Brand4 = []
Product_Description4 = []
Price4 = []
Discount4 = []

time.sleep(3)

# Extracting  Brand Data from third page
Task15 = driver.find_elements_by_xpath("//div[@class='_2B_pmu']")


for vf in Task15:
    ty = vf.text
    Brand4.append(ty)

Brand4 = pd.DataFrame(Brand4)
Brand4 = Brand4.rename(columns = { 0 : 'Brand'})

time.sleep(3)

# Extracting  Product Description  Data from third page

Task16 = driver.find_elements_by_xpath("//div[@class='_2LFGJH']/a[1]")

for xx in Task16:
    bb = xx.text
    Product_Description4.append(bb)

Product_Description4 = pd.DataFrame(Product_Description4)
Product_Description4 = Product_Description4.rename({ 0: 'Product Description'} , axis=1 )

time.sleep(3)

# Extracting  Price data from third page
Task17 = driver.find_elements_by_xpath("//div[@class='_1uv9Cb']/div[1]")

for de in Task17:
    oo =de.text
    Price4.append(oo)

Price4 = pd.DataFrame(Price4)
Price4 = Price4.rename(columns = { 0 : 'Price'})

Price4 = Price4.iloc[0:40]
time.sleep(3)

# Extracting  Discount Data from third page
Task18 = driver.find_elements_by_xpath("//div[@class='VGWI6T']/span")

for wq in Task18:
    ss = wq.text
    Discount4.append(ss)

Discount4 = pd.DataFrame(Discount4)

Discount4 =Discount4.rename(columns = { 0 : 'Discount'})

time.sleep(3)
Brand6 = Brand4.iloc[0:20]
Product_Description6 = Product_Description4.iloc[0:20]
Price6 = Price4.iloc[0:20]
Discount6 = Discount4.iloc[0:20]
time.sleep(3)
Sneakers3 =pd.concat([Brand6,Product_Description6,Price6,Discount6] , axis=1)

# Extracting  Final 100 Sneakers Data.
Sneakers_Final = pd.concat([Sneakers1,Sneakers2,Sneakers3] ,axis=0)
Sneakers_Final

,Brand,Product Description,Price,Discount
0,Asics,GEL-NANDI Sneakers For Men,"₹4,859",46% off
1,Lotto,ATLANTA NEO Sneakers For Men,₹799,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹461,76% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹236,52% off
4,Stefano Rads,Classy Sneakers For Men,₹224,85% off
...,...,...,...,...
15,Essence,Sneakers For Men,₹374,62% off
16,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
17,bluemaker,casual shoe for men Sneakers For Men,₹399,60% off
18,Red Rose,Sneakers For Men,₹399,60% off
19,Lotto,ATLANTA NEO Sneakers For Men,₹594,70% off

### Task 8

In [61]:
path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get("https://www.myntra.com/shoes")

Brand = []
Shoe_Description = []
Price = []

Task1 = driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label[@class='common-customCheckbox vertical-filters-label']//div[@class='common-checkboxIndicator']")
Task1.click()


time.sleep(3)

Task2 = driver.find_element_by_xpath("//ul/li[1][@class='colour-listItem']/label[1]/div")
Task2.click()
time.sleep(3)

# Extracting  Brand Data 
Task3 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")

for x in Task3:
    r = x.text
    Brand.append(r)

Brand1 = pd.DataFrame(Brand)
Brand1 = Brand1.rename({ 0 : 'Brand'} , axis=1)
time.sleep(2)

# Extracting  Shoe Description Data
Task4 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")

for nb in Task4:
    bn = nb.text
    Shoe_Description.append(bn)
    
time.sleep(3)   

Shoe_Description1 = pd.DataFrame(Shoe_Description)
Shoe_Description2=Shoe_Description1.iloc[0:100:2]
Shoe_Description2.index=range(50)
Shoe_Description2 = Shoe_Description2.rename({ 0 : 'Shoe Description'}, axis=1)

time.sleep(2)   

# Extracting  Shoe Price data 

Task5 = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

for l in Task5:
    ok = l.text
    Price.append(ok)

Price1 = pd.DataFrame(Price)
Price1['First'] =Price1[0].str.split(' ').str[0]
Price1['Second'] =Price1[0].str.split(' ').str[1]
Price1['Last'] =Price1[0].str.split(' ').str[2]
Price1['Most Last'] =Price1[0].str.split(' ').str[3]
Price1 =Price1.drop([0], axis=1)
Price1 =Price1.drop(['Last'], axis=1)
Price1 =Price1.drop(['Most Last'], axis=1)
Price1['Second'] = Price1['Second'].str.replace( 'Rs.' , ' ' )
Price1['Second'] = Price1['Second'].str.replace( '.' , ' ' )
Price1= Price1.drop(['First'] , axis= 1)
Price2 =Price1.rename(columns = { 'Second' : 'Price (Rs)'})
time.sleep(2)   
Shoes1 = pd.concat([Brand1 ,Shoe_Description2 , Price2] , axis=1)
time.sleep(2)   


# Extracting  Brand Data of next page
Task6 = driver.find_element_by_xpath("//li[@class='pagination-next']/a")
Task6.click()

Brand4 = [] 
Shoe_Description4 = [] 
Price4 = []

time.sleep(3)
Task7 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
for ax in Task7:
    bh = ax.text
    Brand4.append(bh)
    
time.sleep(3)

Brand4 = pd.DataFrame(Brand4)
Brand4 = Brand4.rename({0:'Brand'}, axis =1)

time.sleep(2)   

# Extracting  Brand Description of next page

Task8 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
for ny in Task8:
    mi = ny.text
    Shoe_Description4.append(mi)
    
Shoe_Description4 = pd.DataFrame(Shoe_Description4)
Shoe_Description4=Shoe_Description4.iloc[0:100:2]
Shoe_Description4.index=range(50)
Shoe_Description4 = Shoe_Description4.rename({ 0 : 'Shoe Description'}, axis=1)
time.sleep(2) 

#Extracting  Price Data from next page
Task9 = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
for nv in Task9:
    mk = nv.text
    Price4.append(mk)
Price4 = pd.DataFrame(Price4)

Price4['First'] =Price4[0].str.split(' ').str[0]
Price4['Second'] =Price4[0].str.split(' ').str[1]
Price4['Last'] =Price4[0].str.split(' ').str[2]
Price4['Most Last'] =Price4[0].str.split(' ').str[3]

Price4=Price4.drop([0], axis=1)
Price4 =Price4.drop(['Last'], axis=1)
Price4 =Price4.drop(['Most Last'], axis=1)
Price4['Second'] = Price4['Second'].str.replace( 'Rs.' , ' ' )
Price4['Second'] = Price4['Second'].str.replace( '.' , ' ' )
Price4= Price4.drop(['First'] , axis= 1)
Price5 =Price4.rename(columns = { 'Second' : 'Price (Rs)'})
time.sleep(2) 

Shoes2 = pd.concat([Brand4 ,Shoe_Description4, Price5] , axis=1)

Shoes = pd.concat([Shoes1 , Shoes2] , axis =0)

# Extracting Final Shoes Data
Shoes

               Brand                          Shoe Description Price (Rs)
0   ADIDAS Originals                       Men NMD R1 Sneakers     10299
1               Geox                       Men Leather Loafers      10990
2             ADIDAS               Men FluidFlow Running Shoes       7999
3   ADIDAS Originals            Men ZX 2K Boost Solid Sneakers     10499
4               Geox                  Women Leather Ballerinas       8499
..               ...                                       ...        ...
45              Geox               Men Leather Formal Slip-Ons       9490
46              Vans                           Unisex Sneakers       6999
47    ROSSO BRUNELLO  Men Solid Italian Leather Formal Loafers      7699
48    Tommy Hilfiger                Men Colourblocked Sneakers      7419
49          Skechers            Men Mark Nason BLOCK - VARSITY      7199

[100 rows x 3 columns]

### Task 9

In [62]:
from bs4 import BeautifulSoup

path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get("https://www.amazon.in/")

time.sleep(3)

Title = []
Rating = []
Price = []

time.sleep(5)


Task1 = driver.find_element_by_xpath("//div//div[@class='nav-search-field ']/input[@id='twotabsearchtextbox']")
Task1.send_keys('Laptop')
time.sleep(2)
Task2=driver.find_element_by_xpath("//div//span[@class='nav-search-submit-text nav-sprite']/input")
Task2.click()

time.sleep(2)
Task3=driver.find_element_by_xpath("//div/ul/li[17]/span/a/div/label/i")
Task3.click()
time.sleep(5)
Task3=driver.find_element_by_xpath("//div/ul/li[17]/span/a/div/label/i")
Task3.click()
time.sleep(5)

# Extracting  brand Data 
Task5=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

for yu in Task5:
    hj=yu.text
    Title.append(hj)

Title=pd.DataFrame(Title)

time.sleep(5)

#Extracting  price Data
Task7=driver.find_elements_by_xpath("//div[@class='a-row']/div/a/span[@class='a-price']//span[@class='a-price-whole']") if ( driver.find_elements_by_xpath("//div[@class='a-row']/div/a/span[@class='a-price']//span[@class='a-price-whole']") ) else (' ')

for E in Task7:
    t=E.text
    Price.append(t)
    
time.sleep(2)
    
content = driver.page_source
soup = BeautifulSoup(content)
rating = soup.find_all('span' , class_='a-icon-alt')
Rating5 = []
for axc in rating:
    Rating5.append(axc.get_text())
Rating6 = pd.DataFrame(Rating5)

In [63]:
Title1 =Title.drop([0,1,14,15,28,29] , axis=0)

In [64]:
Title1.index=range(24)

In [65]:
Title2 =Title1.drop([3,6,10] ,axis=0)
Title2.rename(columns ={ 0 : 'Laptop Name'})

                                          Laptop Name
0   Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...
1   (Renewed) ASUS ZenBook Duo Intel Core i7-10510...
2   Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...
4   Dell Alienware m15(R3) 15.6-inch FHD Gaming La...
5   (Renewed) Dell Inspiron 3567 Laptop Core i3-7t...
7   (Renewed) Dell Latitude E7240 12.5-inch Laptop...
8   Asus Gaming Laptop ROG Strix G17 i7-10750H(16 ...
9   ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...
11  HP 14 10th Gen Intel Core i7 Ultra Thin and Li...
12  Dell XPS 7590 15.6-inch UHD Display Laptop (9t...
13  MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...
14  Asus Vivo AiO V241FFT-BA002TS 23.8-inch FHD To...
15  (Renewed) HP Omen 10th Gen Intel Core i7 Proce...
16  (Renewed) Dell XPS 9370 13.3-inch FHD Display ...
17  Dell 2019 Dell Inspiron 14 5482 14 Inch FHD 2-...
18  (Renewed) Dell Latitude E7240 12.5-inch Laptop...
19  Lenovo ThinkPad E14 Intel Core i7 10th Gen 14-...
20  Lenovo Legion 5i 10th Gen Intel Core i7 15.6 i...
21  Lenovo Yoga Slim 7i 10th Gen Intel Core i7 14 ...
22  ASUS ZenBook 14 (2020) Intel Core i7-1065G7 10...
23  (Renewed) Dell Latitude Laptop E7250 Intel Cor...

In [66]:
Title2.index =range(21)

In [68]:
Title3 = Title2.iloc[0:10]
Title3 =Title3.rename(columns = { 0 : 'Laptop Name'})

In [69]:
Price1 =pd.DataFrame(Price)

In [70]:
Price2 = Price1.drop([0,1,14,15,27,28], axis=0)

In [71]:
Price3 = Price2.drop ( [5,8,12] , axis= 0)
Price3= Price3.rename(columns = { 0: 'Price'})

In [73]:
Price4=Price3.iloc[0:10]
Price4.index=range(10)
Rating7 =Rating6.iloc[5:25]
Rating7.index=range(19)

In [74]:
Rating8 = Rating7.iloc[0:10]
Rating8= Rating8.rename(columns ={0 :'Rating'})

In [83]:
Laptop_New =pd.concat([Title3 , Price4, Rating8] , axis=1)
Laptop_New

,Laptop Name,Price,Rating
0,Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...,"85,990",4.1 out of 5 stars
1,(Renewed) ASUS ZenBook Duo Intel Core i7-10510...,"1,05,739",3.4 out of 5 stars
2,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","1,29,990",2.9 out of 5 stars
3,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,99,990",4.1 out of 5 stars
4,(Renewed) Dell Inspiron 3567 Laptop Core i3-7t...,"37,900",3.6 out of 5 stars
5,(Renewed) Dell Latitude E7240 12.5-inch Laptop...,"39,999",4.4 out of 5 stars
6,Asus Gaming Laptop ROG Strix G17 i7-10750H(16 ...,"1,20,790",3.8 out of 5 stars
7,"ASUS TUF Gaming F15 Laptop 15.6"" FHD Intel Cor...","73,990",3.4 out of 5 stars
8,HP 14 10th Gen Intel Core i7 Ultra Thin and Li...,"71,790",3.0 out of 5 stars
9,Dell XPS 7590 15.6-inch UHD Display Laptop (9t...,"2,33,000",3.5 out of 5 stars

### Task 10

In [4]:
import numpy as np
import pandas as pd
from selenium import webdriver
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")


path = r"C:\Users\user\ansari\Selenium\chromedriver.exe"

driver=webdriver.Chrome(path)
my_page=driver.get('https://www.glassdoor.co.in/Salaries/index.htm')




Company_Name = []
Salaries = []
Average_salary = []
Min_Salary = []
Max_Salary = []

time.sleep(3)
insert1= driver.find_element_by_xpath("//div[@class='search-bar minimized']/div//input[@class='keyword']")
insert1.send_keys("Data Scientist")

In [5]:

insert2 =driver.find_element_by_xpath("//div[@class='search-bar minimized']/div//input[@class='loc']")
insert2.send_keys("Noida")
time.sleep(3)

insert3 = driver.find_element_by_xpath("//div[@class='search-bar minimized']//button")
insert3.click()
time.sleep(3)

# Extracting Company Name Data 

insert4 = driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]//p[2]")
for o in insert4:
    l = o.text
    Company_Name.append(l)
    
Company_Name1= pd.DataFrame(Company_Name)
Company_Name1= Company_Name1.rename({0 : 'Company Name'},axis =1)

# Extracting salaries data 
insert5 = driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div[2]//p[5]")
for ko in insert5:
    nb = ko.text
    No_Of_Salaries.append(nb)
    
Salaries1 = pd.DataFrame(Salaries)
Salaries1 = Salaries1.rename({0 : 'No Of Salaries'} , axis =1)

# Extracting Average Salary
insert6 = driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
for bf in insert6:
    po = bf.text
    Average_salary.append(po)

Average_salary1 = pd.DataFrame(Average_salary)
Average_salary1  = Average_salary1 .rename({ 0 : 'Average Salary'}, axis=1)

# Extracting Minimum Salary Data 

insert7 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
for cs in insert7:
    mp = cs.text
    Min_Salary.append(mp)
    
Min_Salary1 = pd.DataFrame(Min_Salary)
Min_Salary1 = Min_Salary1.rename({ 0 : 'Minimum Salary'},  axis=1)

# Extracting Maximum salary data 
insert8 = driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
for pm in insert8:
    uy = pm.text
    Max_Salary.append(uy)
    
Max_Salary1 = pd.DataFrame(Max_Salary)
Max_Salary1 = Max_Salary1.rename({0 : 'Maximum Salary'}, axis=1)

Data_Scientist_Glassdoor_Salaries = pd.concat([Company_Name1,Salaries1,Average_salary1 ,Min_Salary1, Max_Salary1], axis=1)

# Extracting Final Data

Data_Scientist_Glassdoor_Salaries  = Data_Scientist_Glassdoor_Salaries .iloc[0:10]
Data_Scientist_Glassdoor_Salaries

                     Company Name Average Salary Minimum Salary Maximum Salary
0                       Delhivery    ₹ 13,18,563          ₹706K       ₹11,513K
1                       Accenture     ₹ 9,85,497          ₹572K        ₹1,300K
2                             IBM     ₹ 7,53,602          ₹581K        ₹2,704K
3              UnitedHealth Group    ₹ 13,23,634          ₹710K        ₹1,559K
4  Cognizant Technology Solutions     ₹ 9,97,979          ₹785K        ₹1,251K
5              Valiance Solutions     ₹ 7,72,507          ₹497K        ₹1,140K
6              Vidooly Media Tech       ₹ 12,689            ₹8K           ₹20K
7                Analytics Vidhya       ₹ 21,215           ₹14K           ₹22K
8       Tata Consultancy Services     ₹ 6,77,498          ₹480K        ₹1,000K
9              Ericsson-Worldwide     ₹ 7,34,456          ₹460K        ₹1,598K